@page
@model FrontEnd2.Pages.IngNuevoCarModel
@{
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='~/css/styles/style.css' type='text/css' media='all'/>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C700italic%2C300%2C400%2C700%2C800%7CMontserrat%3A300italic%2C400italic%2C700italic%2C300%2C400%2C700%7CDosis%3A400%2C700&#038;ver=4.5' type='text/css' media='all'/>
<link rel='stylesheet' href='~/css/assets/css/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='~/css/assets/css/flexslider.css' type='text/css' media='all'/>

<form>
    <section id="home"
        style="padding:160px 0;background-image: url(https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1474&q=80); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;">
        <div class="container">
            <div class="textwidget">
                <h1 class="toptitle">REGISTRAR CARGOS<br /><br /><i></i>
                </h1>
                <div class="contactstyle topform">
                    <form method="post" id="topcontactform">
                        <div class="form">
                            <input type="text" name="num" placeholder="Número *">
                            <input type="text" name="descrip" placeholder="Descripción *">
                            <input type="text" name="descrip" placeholder="Estado *">
						    <input type="submit" id="submit" class="clearfix btn" value="GUARDAR">
						    <input type="submit" id="submit" class="clearfix btn" value="CANCELAR">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</form>