@page
@model FrontEnd2.Pages.TipoReportesModel
@{
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel='stylesheet' href='~/css/assets/css/bootstrap.min.css' type='text/css' media='all'/> -->
<link rel='stylesheet' href='~/css/styles/style.css' type='text/css' media='all' />
<link rel='stylesheet'
    href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C700italic%2C300%2C400%2C700%2C800%7CMontserrat%3A300italic%2C400italic%2C700italic%2C300%2C400%2C700%7CDosis%3A400%2C700&#038;ver=4.5'
    type='text/css' media='all' />
<link rel='stylesheet' href='~/css/assets/css/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='~/css/assets/css/flexslider.css' type='text/css' media='all' />

<section id="home"
    style="padding:160px 0;background-image: url(https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1474&q=80); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;">
    <div class="container">
        <div class="textwidget">
            <h1 class="toptitle">TIPO DE REPORTES<br /><br />
                <!--<i class="fa fa-user roundicon"></i> -->
            </h1>
            <div class="contactstyle topform">
                <form method="post" id="topcontactform">
                    <section id="Imprimir">
                        <p>
                            <a href="javascript:window.print();">Imprimir</a>

                            <a href="Actuaciones.cshtml.cs" download="Actuaciones">Exportar</a>

                            <a href="~/maestros_create/IngNuevoTRep">Nuevo</a>

                            <!-- <a class="btn.prymari" asp-area="" asp-page="./maestros_create/IngNuevoTRep">Nuevo</a> -->
                        </p>
                    </section>
                    <br>
                    <section id="Buscar">
                        <input type="text" name="buscar" placeholder="Buscar">
                    </section>
                    <section id="ED_IN">
                        <button type="submit" id="submit" class="clearfix btn">Editar</button>
                        <button type="button" class="clearfix btn">Inactivar</button>
                    </section>
                    <br>
                    <table border="2px" bordercolor="#000000">
                        <tr>
                            <th>Número</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                        </tr>
                        <tr>
                            <td> _____</td>
                            <td> _____</td>
                            <td> _____</td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>